.attribution{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
body{
  background-color: hsl(0, 0%, 95%);
}
.top-container, .middle-container, .botton-container{
  height: 600px;
  width: 25%;
}
.top-container{
    background-color: hsl(31, 77%, 52%);
}
.middle-container{
    background-color: hsl(184, 100%, 22%); 
  }
  .botton-container{
    background-color: hsl(179, 100%, 13%);
  }

  h1, pre{
    text-align: left;
    margin-left: 10%;
    line-height: 25px;
  }

  .Specific{
    font-family: 'Big Shoulders Display';
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 40px;
    color:hsl(0, 0%, 95%);
    margin-top: 50px;
  }

  .pre-specific{
    font-family: 'Lexend Deca';
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    margin-left: 10px;
    padding-bottom: 70px;
  
  }

  button{
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: hsl(0, 0%, 95%);
    margin-left: 10%;
    border-radius: 25%;
  }

  div{
    text-align: left;
  }
  img{
     margin-left: 10%;
     margin-top: 20%;
  }

  @media only screen and (max-width: 540px) {
    .attribution{
        flex-direction: column;
        flex-wrap: wrap;
    }
   .top-container,.middle-container, .botton-container {
        width: 85%;
        height: 500px;
        overflow-wrap: break-word;
   } 

   .pre-specific{
    padding-bottom: 20px;
   }

  }

  @media screen and (max-width:912px) {

    .top-container,.middle-container, .botton-container {
    width: 75%
    }
    
  }
